<form class="col-4">
  <h3>Add recipe:</h3>
  <div class="form-group">
    <label for="name">Name:</label>
    <input [(ngModel)]="recipe.name" type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
  </div>
  <div class="form-group">
    <label for="instructions">Instructions:</label>
    <textarea [(ngModel)]="recipe.instructions" type="text" rows="4" class="form-control" id="instructions" placeholder="Enter instructions" name="instructions" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)='addRecipe()'>Add recipe</button>
</form>